@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size: 100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
	padding-left: 12px;
	Transition: all 0.2s ease 0.3s;
}
.caja:hover { 
	box-shadow: inset 0 0 0 10px #ecd75f;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
	
}

@media screen and (max-width: 800px) {
	.holder {
		flex-wrap: wrap;
		}

	nav {
		width: 100%;
		color: #000;
		background-color: #d6ae2b;
		border-top: 4px dashed black;
		border-bottom: 4px dashed black;
	}
	
	section {
		width: 100%;
		margin: 0 0 0 0;
		border-bottom: 4px dashed black;
	}

	aside {
		width: 100%;
		border-bottom: 4px dashed black
	}
}